@charset "utf-8";
/* CSS Document */
ul{
	list-style:none;
}

div.clear{
	clear:both;
}

div.space{
    height:50px;
}

.left{
	float:left;
}

.right{
	float:right;
}

div#animacao{
	width:100%;
	height:492px;
	background:url(../imagens/animacao.jpg) no-repeat;
}

div.catalogo{
	width:100%;
	height:230px;
	float:left;
	margin-top:55px;
    text-align:center;
	background:url(../imagens/fundo-topo.png) repeat;
}

div.catalogo h2{
	font-family: "Segoe UI Semibold";
	font-size:25px;
	color:#18bdc8;
	line-height:18px;
	text-align:center;
}

div.catalogo h1{
	font-family: "Segoe UI Semibold";
	font-size:40px;
	color:#FFF;
	line-height:40px;
	text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    padding-top:40px;
    padding-bottom:40px;
}

div.catalogo h3{
	font-family: "Segoe UI Semibold";
	font-size:18px;
	color:#B2BCC0;
	line-height:18px;
	text-align:center;
}

div#esp-botoes{
	padding-top:170px;
    clear:both;
}

div#botoes{
	margin:0 auto;
	float:none;
}

.bt-buy {
	width:340px;
	height:125px;
	border:none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   	background: #0d787f; /* Old browsers */
    background: -moz-linear-gradient(top, #18bbc6 0%, #0d787f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left, top, left bottom, color-stop(0%,#18bbc6), color-stop(100%,#0d787f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #18bbc6 0%, #0d787f 100%)100; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #18bbc6 0%, #0d787f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradientent(top, #18bbc6 0%, #0d787f 100%); /* IE10+ */
    background: linear-gradiententdient(to bottom, #18bbc6 0%,#0d787f 100%); /* W3C */
    filter: progid:DXImageTransformXImageTransform.Microsoft.gradient( startColorstr='#18bbc6', endColorstr='#0d787f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.bt-sell {
	width:340px;
	height:125px;
	border:none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   	background: #9b1349; /* Old browsers */
	background: -moz-linear-gradient(top, #cf1b62 0%, #9b1349 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf1b62), color-stop(100%,#9b1349)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cf1b62 0%,#9b1349 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cf1b62 0%,#9b1349 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cf1b62 0%,#9b1349 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cf1b62 0%,#9b1349 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf1b62', endColorstr='#9b1349',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}
span.traco{
	display:block;
	width:100%;
	height:1px;
	background:#cfcfcf;
}

